  <html>
        <head>
            <title>MyTitle</title>
        </head>
        <body>
            <div>
                <h1><a href="">MyBigTitle</a></h1>
            </div>

            <div>
                <p>published: now</p>
                <h2><a href="">My first post</a></h2>
                <p>On 30 June 1971, after an apparently normal reentry of the capsule of the Soyuz 11 mission, the recovery team opened the capsule to find the crew dead.[6][13][14]

				Kerim Kerimov, chair of the State Commission, recalled: "Outwardly, there was no damage whatsoever. They knocked on the side, but there was no response from within. On opening the hatch, they found all three men in their couches, motionless, with dark-blue patches on their faces and trails of blood from their noses and ears. They removed them from the descent module. Dobrovolsky was still warm. The doctors gave artificial respiration. Based on their reports, the cause of death was suffocation.</p>
            </div>

       
        </body>
    </html>